<div class="container">
  <div class="row">
    <div class="column">
      <h1>Add a new Movie</h1>
      <%= simple_form_for [@movie] do |f| %>
        <%= f.input :title %>
        <%= f.input :release_date %>
        <%= f.input :overview %>
        <%= f.submit "Add Movie", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>